{% extends "dashboard/base.html" %}

{% block content %}

<h1 class="mb-4">🤖 AI Dispatch Center</h1>

<div class="row">

    <div class="col-lg-4">

        <div class="card shadow mb-4">
            <div class="card-header bg-primary text-white">
                Fleet Summary
            </div>

            <div class="card-body">

    <h4>🤖 Best Assignment</h4>

    <p><strong>Driver:</strong> {{ recommended_driver|default:"No available driver" }}</p>

    <p><strong>Truck:</strong> {{ recommended_truck|default:"No available truck" }}</p>

    <p><strong>Trailer:</strong> {{ recommended_trailer|default:"No available trailer" }}</p>

    {% if recommended_driver %}
        <p><strong>AI Score:</strong> {{ recommended_driver.ai_score }}/100</p>
    {% endif %}

    <hr>

    

    <a href="{% url 'dispatch_board' %}" class="btn btn-primary">
        🚚 Open Dispatch Board
    </a>

</div>
    <div class="col-lg-8">

        <div class="card shadow">

            <div class="card-header bg-success text-white">
                🤖 AI Recommendation
            </div>

            <div class="card-body">

                <p><strong>Driver:</strong> {{ recommended_driver|default:"No available driver" }}</p>

                <p><strong>Truck:</strong> {{ recommended_truck|default:"No available truck" }}</p>

                <p><strong>Trailer:</strong> {{ recommended_trailer|default:"No available trailer"
               }}</p>
               <hr>

<h4>🤖 Best Assignment</h4>

<p><strong>Driver:</strong> {{ recommended_driver|default:"No available driver" }}</p>

<p><strong>Truck:</strong> {{ recommended_truck|default:"No available truck" }}</p>

<p><strong>Trailer:</strong> {{ recommended_trailer|default:"No available trailer" }}</p>

{% if recommended_driver %}
<p><strong>AI Score:</strong> {{ recommended_driver.ai_score }}/100</p>
{% endif %}

<a href="{% url 'dispatch_board' %}" class="btn btn-primary">
    🚚 Open Dispatch Board
</a>

                
            </div>

        </div>

    </div>

</div>

{% endblock %}