{% extends "dashboard/base.html" %}

{% block content %}

<h1 class="mb-4">🗑️ Delete Customer</h1>

<div class="card shadow">
    <div class="card-body">

        <p>
            Are you sure you want to delete
            <strong>{{ customer.name }}</strong>?
        </p>

        <form method="POST">
            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                🗑️ Delete Customer
            </button>

            <a href="{% url 'customers' %}" class="btn btn-secondary">
                Cancel
            </a>

        </form>

    </div>
</div>

{% endblock %}